table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

.t1 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

td{
  padding: 3px;
}

th {
  padding: 3px;
  background-color: lightblue;
  text-align: left;
}
