Table,th,td{
    border: 1px solid black;
}
td{
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  
  
  .minutes,
  .seconds {
    font-size: 28px;
    font-weight: bold;
  }
  
  .seconds {
    padding-left: 5px;
  }
  
  .red {
    color: #FF3C38; /* Red color */
  }
  
  .orange {
    color: #FFA726; /* Orange color */
  }
  
  .green {
    color: #4CAF50; /* Green color */
  }
  