.cart{
    position: relative;
    overflow: hidden;
    padding: 10px;
    color: #fff;
}
.cart:after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #2bd576;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.cart:hover::after{
    transform: scaleX(1);
    
}